[Unit]
Description=Lehuo Peer-to-Peer Network Daemon
 
[Service]
Type=simple
User=nobody
ExecStart=/usr/bin/lehuod --conf=/etc/lehuod/lehuod.cfg
 
[Install]
WantedBy=multi-user.target